body {
	background-image: url("images/skewed_print.png");

	color: #AAAAAA;
}

.title {
	padding-top: 50px;
	text-align: center;
}

.row {
	padding-top: 4px;
}

.grid {
	padding-top: 50px;
	text-align: center;
}

.instructions {
	padding-top: 50px;
	text-align: center;
}